In [1]:
import pandas as pd

In [9]:
trip_nodes = pd.read_csv('node_trips.csv').set_index('index')
trip_nodes.head()

        from_node  to_node
index
62989          12     2289
109814         12       72
121850          1      126
130447          7      307
130940          7      556

In [13]:
trip_times = pd.read_csv('time_filtered.csv',usecols=['start_dt'],parse_dates=['start_dt'])
trips = trip_times.join(trip_nodes,how='inner')
trips.head()

    start_dt  from_node  to_node
0 2013-05-05       1167     1956
2 2013-05-05       1888     2354
3 2013-05-05        711     1371
6 2013-05-05       1684     1267
7 2013-05-05       1385     1497

In [14]:
trips.shape

(2697293, 3)

In [15]:
trips.start_dt.dt.dayofweek.value_counts()

4    411291
5    405392
3    401970
2    390703
1    380179
0    356090
6    351668
Name: start_dt, dtype: int64

In [16]:
trips.to_csv('requests.csv',index=False)